<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_basic}">
<head>
    <meta charset="UTF-8">
    <title>1:1문의 등록</title>
    <link rel="stylesheet" th:href="@{/assets/css/he.css}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="page-main">
    <h2>1:1문의 등록</h2>
    <form th:action="@{write}" id="qna_register" enctype="multipart/form-data" method="post" th:object="${qnaVO}">
        <table class="striped-table">
           <tr>
			   <th>문의유형</th>
			   <td>
			       <select th:field="*{category}" class="form-control" required>
				       <option value="">-- 선택하세요 --</option>
				       <option value="서비스 이용문의">서비스 이용문의</option>
				       <option value="허위매물 신고">허위매물 신고</option>
				       <option value="단지정보 문의">단지정보 문의</option>
				       <option value="기타문의">기타문의</option>
			       </select>
			       <span th:errors="*{category}" class="error-color"></span>
			    </td>
			</tr>
          
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" th:field="*{title}" placeholder="제목을 입력하세요" th:errorclass="field-error" class="form-control">
                    <span th:errors="*{title}" class="error-color"></span>
                </td>
            </tr>
            
            <tr>
                <th>내용</th>
                <td>
                    <textarea th:field="*{content}" placeholder="내용을 입력하세요" th:errorclass="field-error" class="form-control" rows="10"></textarea>
                    <span th:errors="*{content}" class="error-color"></span>
                </td>
            </tr>
            
            <tr>
    <th>사진</th>
    <td>
        <input type="file" th:field="*{upload}" id="upload" class="form-control" required>
        <th:block th:if="${not #strings.isEmpty(qnaVO.photo_name)}">
            <div id="file_detail">
                ([[${qnaVO.photo_name}]])
            </div>
        </th:block>
    </td>
</tr>


        </table>

        <div class="button-area">
       		<input type="button" class="btn-register" value="목록" onclick="location.href='list'">
            <input type="submit" class="btn-register" value="등록">
        </div>
    </form>
</div>
</body>
</html>
