<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"	
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_basic}">
<head>
<meta charset="UTF-8">
<title>운영정책 상세</title>
<link rel="stylesheet" th:href="@{/assets/css/he.css}">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<div layout:fragment="content" class="page-main">
	<h2>운영정책 상세</h2>
	<div class="notice-box">
	<table class="striped-table">
		<tr>
			<th>제목</th>
			<td>[[${policy.title}]]</td>
		</tr>
		<tr>
			<th>내용</th>
			<td>[[${policy.content}]]</td>
		</tr>
		<tr>
			<th>작성일</th>
			<td>[[${policy.reg_date}]]</td>
		</tr>  
		<tr>
			<th>수정일</th>
			<td>[[${policy.modi_date}]]</td>
		</tr>         	
	</table>
	</div>
	<div class="align-right">
		<!--  <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.principal.memberVO.mem_num==board.mem_num}"> -->
		<div class="button-area">
			<input type="button" value="목록" class="btn-register" onclick="location.href='list'">
			<input type="button" value="수정" class="btn-register" 
       th:onclick="|location.href='/admin/policy/update?policy_num=${policy.policy_num}'|">
			<input type="button" value="삭제" class="btn-register" id="delete_btn">
		</div>
			<script type="text/javascript">
			    const delete_btn = document.getElementById('delete_btn');
			    delete_btn.onclick = function() {
			        let choice = confirm('삭제하시겠습니까?');
			        if (choice) {
			            location.replace('/admin/policy/delete?policy_num=[[${policy.policy_num}]]');
			        }
			    };
			</script>
	
		</th:block>	
	</div>
</div>
</body>
</html>