<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"	
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_basic}">
<head>
<meta charset="UTF-8">
<title>운영정책 목록</title>
<link rel="stylesheet" th:href="@{/assets/css/he.css}">
<script type="text/javascript" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<div layout:fragment="content" class="page-main">
	
	<h2>운영정책 목록</h2> <hr>
	<div class="result-display" th:if="${count == 0}">표시할 운영정책이 없습니다.</div>
	<th:block th:if="${count > 0}">
	<div class="notice-box">
		<table class="striped-table">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>등록일</th>
				<th>수정일</th>
			</tr>
			<tr th:each="policy, stat : ${list}">
				<td th:text="${count - stat.index}"></td>
				<td><a th:href="@{/admin/policy/detail(policy_num=${policy.policy_num})}">[[${policy.title}]]</a></td>
				<td th:text="${policy.reg_date}"></td>
				<td th:text="${policy.modi_date}"></td>
			</tr>
		</table>
	</div>
	</th:block>
	<div class="button-area">
		<input type="button" value="등록" class="btn-register" onclick="location.href='write'">
	</div>
	<div class="align-center" th:utext="${page}"></div>
</div>
</body>
</html>


