<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin}">
<head>
<meta charset="UTF-8">
<title>쉐어하우스 목록</title>
<script type="text/javascript" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<div layout:fragment="content" class="page-main">
    <h2>쉐어하우스 목록 (관리자용)</h2>

    <form action="#" method="get" id="search_form">
        <ul class="search">
            <li class="filter-search">
                <select name="keyfield">
                    <option value="name" th:selected="${keyfield == 'name'}">이름</option>
                    <option value="address" th:selected="${keyfield == 'address'}">주소</option>
                    <option value="operator" th:selected="${keyfield == 'operator'}">운영자</option>
                </select>
                <input type="search" name="keyword" th:value="${keyword}" placeholder="검색어 입력">
                <input type="submit" value="찾기">
                <input type="button" value="초기화" th:onclick="|location.href='@{/sharehouse/admin_list}'|">
            </li>
        </ul>
    </form>

    <div class="result-display" th:if="${#lists.isEmpty(list)}">표시할 쉐어하우스가 없습니다.</div>

    <th:block th:if="${!#lists.isEmpty(list)}">
        <table class="striped-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>주소</th>
                    <th>운영자</th>
                    <th>상태</th>
                    <th>등록일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="house, stat : ${list}">
                    <td th:text="${house.house_id}">번호</td>
                    <td><a th:href="@{/sharehouse/admin_detail/{id}(id=${house.house_id})}" th:text="${house.name}" class="button"></a></td>
                    <td th:text="${house.sido + ' ' + house.sigungu + ' ' + house.dong}">주소</td>
                    <td th:text="${house.operator}"></td>
                    <td th:text="${house.s_state == 0 ? '거래중' : '거래완료'}">상태</td>
                    <td th:text="${#dates.format(house.s_reg_date, 'yyyy-MM-dd')}">등록일</td>
                </tr>
            </tbody>
        </table>
        <div class="align-center" th:utext="${page}"></div>
    </th:block>
</div>
</body>
</html>
