<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="main">
		<!-- header / content -->
	</div>
	<!-- 하단 시작 -->
	<footer th:fragment="footer" class="footer-bar">
	<p>   
	        <a href="/notice/list">공지사항</a>        
	        <a href="/policy/list">운영정책</a>        
	        <a href="/faq/list">FAQ</a>     
	        <a href="/tip/list">TIP</a>
	        <a href="/news/list">뉴스</a>
	        <a href="/qna/list">나의 1:1문의</a>
	        <a href="/report/list">신고하기</a>
	    </p>

		<p>
			<a href="/privacy">개인정보 처리방침</a> |
			<a href="/terms">이용약관</a> |
			<a href="/propertyManage">매물관리 규정</a> |
			<a href="/locationTerms">위치기반 서비스 이용약관</a>
		</p>
		<p>
			상호 : (주)방방고  |  대표 : 양봉팔  |  사업자등록번호 : 8888-8888<br>
			주소 : 서울특별시 마포구 서교동 447-5 풍성빌딩 2,3,4층<br>
			통신판매업 신고번호 : 제2021-서울강남-06358호<br>
			이메일 : cs@bangbangGo.com  |  서비스제휴문의 : partnership@bangbangGo.com  |  분양광고 문의 : ad@bangbangGo.com  |  팩스 : 002-102-4908
		</p>
		<p>CopyRight © BangBangGO. All rights reserved.</p>
	</footer>
	<!-- 하단 끝 -->
</body>
</html>
